<% content_for :header_image do %>
    <%= render "header_image" %>
<% end %>

<div class="blog-post-content">
    <p>
        Do You have a job offer for me? Or simply want to talk? You can email me directly:
        <a href="mailto:marcin@coding.buzz" class="email-link">
            <i class="fa fa-envelope"></i> marcin@coding.buzz</a>.
        You can also find me on
        <a href="https://www.facebook.com/cines91" target="_blank" class="facebook-link">
            <i class="fa fa-facebook-square"></i> Facebook</a>,
        <a href="http://pl.linkedin.com/pub/marcin-skiba/8a/14a/749" target="_blank" class="linkedin-link">
            <i class="fa fa-linkedin-square"></i> LinkedIn</a> and
        <a href="https://github.com/ilu2112" target="_blank" class="github-link">
            <i class="fa fa-github-square"></i> GitHub
        </a>.
    </p>
    <p>
        Do not hesitate to contact me with any question and job offer including:
        <ul>
            <li>frontend oriented development,</li>
            <li>backend oriented development,</li>
            <li>application architecture design,</li>
            <li>problem solving and algorithm design,</li>
            <li>refactoring legacy code.</li>
        </ul>
    </p>
</div>