<% (1..10).each do |i| %>
    <div class="entry">
        <h2 class="entry-title">
            <a href="#">
                Why “Don’t Worry About Money, Just Travel” Is The Worst Advice Of All Time
            </a>
        </h2>
        <div class="entry-summary">
            I have an internet acquaintance that I’ve been following on social media for a little over two years now, an all-around nice, smart girl…
        </div>
        <div class="entry-meta">
            <a href="#">JULY 16, 2015</a> BY <a href="#">DANIEL TARA</a>
        </div>
    </div> 
<% end %>
