<% @blog_posts.each do |blog_post| %>
    <div class="entry">
        <h2 class="entry-title">
            <a href="#">
                <%= blog_post.title %>
            </a>
        </h2>
        <div class="entry-summary">
            <%= blog_post.summary %>
        </div>
        <div class="entry-meta">
            <%= blog_post.created_at.strftime "%B %d, %Y" %>
            BY
            <a href="#">MARCIN SKIBA</a>
        </div>
    </div> 
<% end %>
