.blog-post-content {
    font-family: 'PT Serif', serif;
    line-height: 1.62;
    letter-spacing: 0.005rem;
    color: #000;

    p {
        margin-top: 0px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        padding-top: 1.1rem;
        margin-top: 0px;
    }

    h1, h2 {
        margin-bottom: 1.1rem;
    }

    h3, h4 {
        margin-bottom: 0.7rem;
    }

    blockquote {
        border-left: 2px solid rgba(0,0,0,.15);
        padding-left: 0.5rem;
    }

    a {
        border-color: inherit;
        border-width: 0 0 1px;
        border-style: solid;
        color: inherit;
        transition: opacity .25s ease;
        text-decoration: none;
        
        &:hover {
            opacity: .6;
        }
    }

    img {
        display: block;
        padding: 1.5em 15px;
        box-sizing: border-box;
        max-width: 100%;

        &:hover {
            cursor: zoom-in;
        }
    }


    figure.image {
        margin: 0px;
        figcaption {
            text-align: center;
            font-family: 'Fira Sans', sans-serif;
            color: rgba(0, 0, 0, .4);
            text-transform: uppercase;
            font-weight: bold;
            font-size: .9rem;
            margin-top: -1.5em;
            margin-bottom: 0.5em;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
        }
    }
}



// ...
// RWD: font size changes
// ...

@media all and (min-width: 375px) {
    .blog-post-content {
        font-size: 21px;
        font-size: 1.05rem;
    }
}


@media all and (min-width: 540px) {
    .blog-post-content {
        font-size: 22px;
        font-size: 1.1rem;
    }
}



// ...
// RWD: image figure margin changes
// ...
@media all and (min-width: 400px) {
    .blog-post-content img, .blog-post-content figure.image figcaption {
        padding-left: 40px;
        padding-right: 40px;
    }
}