@media all and (min-width: 375px) {
    .entry .entry-meta {
        letter-spacing: 1px;
    }
}


.entry {
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 35px;

    &:last-of-type {
        margin-bottom: -35px;
    }

    .entry-title {
        font-weight: 800;
        margin-bottom: 8px;
        font-size: 32px;
        font-size: 1.6rem;
    }

    .entry-summary {
        margin-bottom: 15px;
        font-size: 19px;
        font-size: .95rem;
        font-family: 'PT Serif', serif;
        line-height: 1.62;
        letter-spacing: 0.005rem;
    }

    .entry-meta {
        font-family: 'Fira Sans', sans-serif;
        color: rgba(0,0,0,0.6);
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }

    a {
        border: none;
        color: inherit;
        text-decoration: none;
        transition: opacity .25s ease;
    }
}