#header-image {
    background-image: url(/assets/homescreen.jpg);
    width: 37.5%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .overlay-gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        z-index: 1;
    }

    .inner-text {
        width: 100%;
        padding: 60px 0px;
        z-index: 2;
    }

    .page-title {
        display: block;
        margin: 20px auto 10px auto;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0,0,0,0.3);
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: rgb(255, 255, 255);

        a {
            color: inherit;
            text-decoration: none;
            transition: opacity .25s ease;

            &:hover {
                opacity: .7;
            }
        }
    }

    .page-description {
        color: #FFF;
        text-shadow: 0 1px 3px rgba(0,0,0,0.3);
        font-family: 'PT Serif', serif;
        font-weight: 300;
        margin: 0px auto 10px auto;
        text-align: center;
    }

    .page-meta {
        padding-top: 20px;
        margin: 20px auto 0px auto;
        border-top: 1px solid rgba(255,255,255,0.35);
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        color: rgba(255,255,255,0.8);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        a {
            border: none;
            color: inherit;
            text-decoration: none;
            transition: opacity .25s ease;

            &:hover {
                opacity: .7;
            }
        }
    }
}



// ...
// RWD: page meta font changes
// ...

@media all and (min-width: 375px) {
    #header-image .page-meta {
        letter-spacing: 1px;
    }
}


@media all and (min-width: 768px) {
    #header-image .page-meta {
        font-size: 16px;
    }
}


@media all and (min-width: 992px) {
    #header-image .page-meta {
        font-size: 13px;
    }
}


@media all and (min-width: 1200px) {
    #header-image .page-meta {
        font-size: 14px;
    }
}



// ...
// RWD: when header image should take the whole page's width 
//      (it goes above the main content wrapper)
// ...

@media all and (max-width: 992px) {
    #header-image {
        width: 100%;
        padding-right: 56px;
        box-sizing: border-box;
        position: relative;
        min-height: 100%;
        min-height: 100vh;
    }
}


@media all and (max-width: 768px) {
    #header-image {
        padding-right: 0px; // because menu slider disappears
    }
}



// ...
// RWD: scaling page's title, description and meta data
// ...

@media all and (min-width: 300px) {
    .page-title, .page-description, .page-meta {
        max-width: 320px;
    }

    .page-title {
        font-size: 48px;
        font-size: 2.1rem;
    }

    .page-description {
        font-size: 21px;
        font-size: 1.05rem;
    }
}


@media all and (min-width: 414px) {
    .page-title, .page-description, .page-meta {
        max-width: 360px;
    }
}


@media all and (min-width: 480px) {
    .page-title {
        font-size: 48px;
        font-size: 2.4rem;
    }

    .page-description {
        font-size: 24px;
        font-size: 1.2rem;
    }
}


@media all and (min-width: 568px) {
    .page-title, .page-description, .page-meta {
        max-width: 480px;
    }
}


@media all and (min-width: 640px) {
    .page-title, .page-description, .page-meta {
        max-width: 540px;
    }
}


@media all and (min-width: 667px) {
    .page-title, .page-description, .page-meta {
        max-width: 600px;
    }
}


@media all and (min-width: 736px) {
    .page-title, .page-description, .page-meta {
        max-width: 640px;
    }
}


@media all and (min-width: 768px) {
    .page-title {
        font-size: 60px;
        font-size: 3rem;
    }

    .page-description {
        font-size: 32px;
        font-size: 1.6rem;
    }
}


@media all and (min-width: 992px) {
    .page-title, .page-description, .page-meta {
        max-width: 320px;
    }

    .page-title {
        font-size: 44px;
        font-size: 2.2rem;
    }

    .page-description {
        font-size: 22px;
        font-size: 1.1rem;
    }
}


@media all and (min-width: 1200px) {
    .page-title, .page-description, .page-meta {
        max-width: 360px;
    }

    .page-title {
        font-size: 48px;
        font-size: 2.4rem;
    }

    .page-description {
        font-size: 24px;
        font-size: 1.2rem;
    }
}


@media all and (min-width: 1856px) {
    .page-title, .page-description, .page-meta {
        max-width: 540px;
    }
}