#slider-glass-panel {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .25);
    z-index: 5;
}


#menu-slider {
    width: 320px;
    height: 100%;
    position: fixed;
    right: -260px;
    top: 0px;
    transform: translate3d(0, 0, 0);
    background: #252525;
    overflow: hidden;
    padding-right: 16px;
    transition: transform 0.35s ease-out, background 0.35s ease-out;
    z-index: 10;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.expanded {
        background: #252525;
        transform: translate3d(-260px, 0, 0);

        .menu-content {
            opacity: 1.0;
        }

        .swipe-button {
            top: 10px;
            left: 25px;
        }
    }

    .swipe-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        transition: left 0.35s ease-out; 

        &:hover {
            cursor: pointer;
        }
    }

    .menu-content {
        width: 260px;
        height: 100%;
        opacity: 0;
        transition: opacity 0.35s ease-out;
    }

    .site-title {
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.65);
        text-shadow: 0 1px 3px rgba(0,0,0,0.3);
        transition: color .25s ease;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1;
        text-decoration: none;
        margin-bottom: 12px;
        margin-bottom: 12px;
        display: block;

        &:hover {
            color: #FFF;
        }
    }

    .site-description {
        color: rgba(255,255,255,0.65);
        text-shadow: 0 1px 3px rgba(0,0,0,0.3);
        font-family: 'PT Serif', serif;
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .site-navigation {

        ul {
            list-style: none;
            padding: 0px;
            border-top: 1px solid rgba(255, 255, 255, .1);
        }

        .fa {
            margin-right: 10px;
            font-size: 14px;
        }

        a {
            display: block;
            padding: 11px 0;
            font-size: 13px;
            font-weight: 700;
            font-family: "Fira Sans", sans-serif;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            color: rgba(255, 255, 255, .65);
            text-decoration: none;
            transition: color .25s ease;

            &:hover, &.active {
                color: #FFF;

                .item-description {
                    height: 20px;
                }
            }
        }

        .item-description {
            margin-left: 28px;
            display: block;
            overflow: hidden;
            height: 0px;
            font-size: 11px;
            font-style: italic;
            font-weight: 300;
            text-transform: lowercase;
            color: #FFF;
            line-height: 20px;
            transition: height .25s ease;
        }
    }
}


#menu-slider-horizontal-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
    z-index: 20;
    padding: 6px 0px;
    transition: transform 0.35s ease-out;

    &:hover {
        cursor: pointer;
    }

    &.expanded {
        transform: translate3d(-310px, 0, 0);

        button {
            right: 20px;
        }
    }

    button {
        float: right;
        position: relative;
        right: 21px;
        transition: right 0.35s ease-out;
    }

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 8px;
        display: block;
        width: calc(100% - 30px);
        border-bottom: solid 1px rgba(255,255,255,.2);
    }

    .menu-slider-title {
        position: static;
        float: left;
        width: auto;
        height: auto;
        padding: 0px;
        height: 30px;
        line-height: 30px;
        margin: 0;
        font-size: 16px;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Fira Sans', sans-serif;
        font-weight: normal;
        margin-left: 8px;
    }
}



// ...
// RWD: when menu slider horizontal bar appears
// ...

@media all and (max-width: 768px) {
    #menu-slider {
        background: none;

        .swipe-button {
            display: none;
        }
    }

    #menu-slider-horizontal-bar {
        display: block;
    }
}



// ...
// RWD: when menu slider is fully visible
// ...

@media all and (min-width: 1856px) {
    #slider-glass-panel {
        display: none !important;
    }

    #menu-slider {
        transform: translate3d(0, 0, 0) !important;
        right: 0px !important;

        .swipe-button {
            display: none;
        }

        .menu-content {
            opacity: 1.0;
        }

        .site-navigation .item-description {
            height: 20px;
        }
    }
}



// ...
// RWD: smalles possible screen width - menu slider has to be narrower
// ...

@media all and (max-width: 400px) {
    #menu-slider {
        width: 280px;
        padding: 22px 15px 15px 15px;
        
        &.expanded {
            transform: translate3d(-260px, 0, 0);
        }
    }

    #menu-slider-horizontal-bar.expanded {
        transform: translate3d(-270px, 0, 0);
    }
}


// ...
// RWD: change top padding when slipe butten is outside
// ...

@media all and (max-width: 768px) {
    #menu-slider {
        padding-top: 22px;
        padding-bottom: 15px;
    }
}


