html {
    font-size: 17px;
    line-height: 1.42857;
}


body {
    text-rendering: optimizeLegibility;
}


h1, h2, h3 {
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}