.blog-post-content {
    .facebook-link {
        color: #3B5998;
        font-weight: 700;
        white-space: nowrap;
    }

    .linkedin-link {
        color: #4875B4;
        font-weight: 700;
        white-space: nowrap;
    }

    .github-link {
        color: #EDCD00;
        font-weight: 700;
        white-space: nowrap;
    }

    .email-link {
        color: #DA4436;
        font-weight: 700;
        white-space: nowrap;
    }
}