#viewport {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    .ps-scrollbar-y-rail {
        z-index: 100;
    }

    &.ps-container > .ps-scrollbar-y-rail {
        width: 6px;
    }

    &.ps-container:hover > .ps-scrollbar-y-rail:hover {
        background: rgba(0,0,0,.3);
        width: 6px;
    }

    &.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
        background: rgba(0,0,0,.45);
    }

    &.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        width: 6px;
        background: rgba(255,255,255,.4);
    }
}



@media all and (max-width: 768px) {
    #viewport {
    }
}
