#viewport {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    .ps-scrollbar-y-rail {
        z-index: 100;
    }
}



@media all and (max-width: 768px) {
    #viewport {
    }
}
