#viewport {
    overflow-x: hidden;
    overflow-y: auto;

    .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }

    .mCSB_scrollTools {
        background: #252525;
        z-index: 20;
    }
}



@media all and (max-width: 768px) {
    #viewport {
        .mCSB_scrollTools {
            background: none;
            margin-right: -6px;
        }
    }
}
