<div id="header-image">
    <div class="overlay-gradient"></div>
    <div class="inner-text">
        <h1 class="page-title">
            My Blog
        </h1>
        <div class="page-description">
            You can edit this tagline and the title above from the theme customizer.
        </div>
    </div>
</div>