<div id="header-image">
    <div class="overlay-gradient"></div>
    <div class="inner-text">
        <h1 class="page-title">
            Coding Buzz
        </h1>
        <div class="page-description">
            where (software) craftsmanship meets passion
        </div>
    </div>
</div>