<div id="slider-glass-panel"></div>



<div id="menu-slider-horizontal-bar">
    <div class="menu-slider-title">
        Menu
    </div>
    <button class="c-hamburger c-hamburger--htra swipe-button">
        <span>toggle menu</span>
    </button>
</div>



<div id="menu-slider">
    <button class="c-hamburger c-hamburger--htra swipe-button">
        <span>toggle menu</span>
    </button>
    <div class="menu-content">
        <a class="site-title" href="#">
            Coding Buzz
        </a>

        <div class="site-description">
            where (software) craftsmanship meets passion
        </div>

        <nav class="site-navigation">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="active">
                        <i class="fa fa-heart"></i> Link
                        <span class="item-description">
                            Description
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-heart"></i> Link
                        <span class="item-description">
                            Description
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-heart"></i> Link
                        <span class="item-description">
                            Description
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

