<div id="slider-glass-panel"></div>

<div id="menu-slider">
    <button class="c-hamburger c-hamburger--htra swipe-button">
        <span>toggle menu</span>
    </button>
    <div class="menu-content">
        &nbsp;
    </div>
</div>